<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Starbucks Coffee Korea</title>


  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="../../styles/brandstory/brand_story.css" />

  <script defer src="../../js/main.js"></script>
</head>
<body>

  <!-- Header -->
  <header>
    <div class="inner">
      <a href="/" class="logo">
        <img src="./images/starbucks_logo.png" alt="STARBUCKS">
      </a>

      <div class="sub-menu">
        <ul class="menu">
          <li>
            <a href="/signin">매장안내</a>
          </li>
          <li>
            <a href="javascript:void(0)">고객센터</a>
          </li>
          <li>
            <a href="javascript:void(0)">기사 채용안내</a>
          </li>
          <li>
            <a href="javascript:void(0)">log in</a>
          </li>
        </ul>
        <div class="search">
          <input type="text" />
          <div class="material-icons">search</div>
        </div>
      </div>

      <ul class="main-menu">
        <li class="item">
          <div class="item__name">브랜드 스토리</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>브랜드 스토리</li>
                    <li>뚜레쥬르 재료 이야기</li>
                    <li>글로벌 뚜레쥬르</li>
                    <li>뚜레쥬르 라뜰리에</li>
                    <li>뚜레쥬르 착한빵</li>
                    <li>뉴스 & 공지사항</li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li>신제품</li>
                    <li>빵</li>
                    <li>케이크</li>
                    <li>델리</li>
                    <li>선물</li>
                    <li>디저트&스낵</li>
                    <li>음료</li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>진행중인 이벤트</li>
                    <li>이벤트 담당자</li>
                    <li>CJ ONE 멤버십</li>
                    <li>제휴 혜택</li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li>뚜레쥬르 앱</li>
                    <li>홈페이지 전용 예약 배송</li>
                    <li>꽃 & 케이크 택배 배송</li>
                    <li>대량 구매 문의</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">제품 안내</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>브랜드 스토리</li>
                    <li>뚜레쥬르 재료 이야기</li>
                    <li>글로벌 뚜레쥬르</li>
                    <li>뚜레쥬르 라뜰리에</li>
                    <li>뚜레쥬르 착한빵</li>
                    <li>뉴스 & 공지사항</li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li>신제품</li>
                    <li>빵</li>
                    <li>케이크</li>
                    <li>델리</li>
                    <li>선물</li>
                    <li>디저트&스낵</li>
                    <li>음료</li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>진행중인 이벤트</li>
                    <li>이벤트 담당자</li>
                    <li>CJ ONE 멤버십</li>
                    <li>제휴 혜택</li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li>뚜레쥬르 앱</li>
                    <li>홈페이지 전용 예약 배송</li>
                    <li>꽃 & 케이크 택배 배송</li>
                    <li>대량 구매 문의</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">이벤트 & 멤버십</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>브랜드 스토리</li>
                    <li>뚜레쥬르 재료 이야기</li>
                    <li>글로벌 뚜레쥬르</li>
                    <li>뚜레쥬르 라뜰리에</li>
                    <li>뚜레쥬르 착한빵</li>
                    <li>뉴스 & 공지사항</li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li>신제품</li>
                    <li>빵</li>
                    <li>케이크</li>
                    <li>델리</li>
                    <li>선물</li>
                    <li>디저트&스낵</li>
                    <li>음료</li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>진행중인 이벤트</li>
                    <li>이벤트 담당자</li>
                    <li>CJ ONE 멤버십</li>
                    <li>제휴 혜택</li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li>뚜레쥬르 앱</li>
                    <li>홈페이지 전용 예약 배송</li>
                    <li>꽃 & 케이크 택배 배송</li>
                    <li>대량 구매 문의</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">뚜레쥬르 앱 & 온라인 쇼핑몰</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>브랜드 스토리</li>
                    <li>뚜레쥬르 재료 이야기</li>
                    <li>글로벌 뚜레쥬르</li>
                    <li>뚜레쥬르 라뜰리에</li>
                    <li>뚜레쥬르 착한빵</li>
                    <li>뉴스 & 공지사항</li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li>신제품</li>
                    <li>빵</li>
                    <li>케이크</li>
                    <li>델리</li>
                    <li>선물</li>
                    <li>디저트&스낵</li>
                    <li>음료</li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>진행중인 이벤트</li>
                    <li>이벤트 담당자</li>
                    <li>CJ ONE 멤버십</li>
                    <li>제휴 혜택</li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li>뚜레쥬르 앱</li>
                    <li>홈페이지 전용 예약 배송</li>
                    <li>꽃 & 케이크 택배 배송</li>
                    <li>대량 구매 문의</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
  
  <!-- Section -->
  <section class="story">
    <div class="inner">
        <h2 class="story_name">
            브랜드 스토리
        </h2>
        <div class="story_top">
            <ul class="top_menu">
                <li>
                    <a href="javascript:void(0)">HOME</a>
                </li>
                <li>
                    <a href="javascript:void(0)">브랜드 스토리</a>
                </li>
                <li>
                    <a href="javascript:void(0)">브랜드 스토리</a>
                </li> 
            </ul>
        </div>
        <div class="content">
            <ul class="item-list">
                <li class="nht-1">
                  <div class="nht-1-inner">
                    <div class="thumb-img">
                      <img src="/images/img_brandstory_01.jpg" alt="">
                    </div>
                    <div class="item-info-1">
                      <div class="item-info-tit">
                        <p class="tit">
                          매일매일(Tous Les Jours),<br>
                          매장에서 직접 굽는 <strong>신선한 베이커리</strong>
                        </p>
                      </div>
                      <div class="item-info-summary">
                        <p class="summary">
                          뚜레쥬르는(Tous Les Jours - 프랑스어로 ‘매일매일’이라는 뜻)" 그 이름의 의미처럼
                          <br>
                          매일매일 매장에서 직접 굽는 신선함을 가장 큰 가치로 하는 베이커리 입니다.
                          <br>
                          1997년 구리교문에 처음 매장을 연 뚜레쥬르는,
                          <br>
                          그 시절 공장에서 양산빵을 납품 받던 다른 베이커리들과 달리,
                          <br>
                          하루 3번 매장에서 갓 구운 신선한 빵을 제공하며
                          <br>
                          국내 베이커리 업계에 새로운 변화의 바람을 일으켰습니다.
                          <br>
                          뚜레쥬르 매장에 들어서는 순간 감도는 갓 구워낸 빵의 고소하고 달큰한 향은
                          <br>
                          대량 생산에 급급했던 여타의 베이커리 브랜드와는 분명히 다른 차별점이 되었습니다
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nht-2">
                  <div class="nht-2-inner">
                    <div class="item-info-2">
                      <div class="item-info-tit">
                        <p class="tit"><storng>갓 구운 신선함이</storng><br>
                          매장을 가득 채웁니다.
                        </p>
                      </div>
                      <div class="item-info-summary">
                        <p class="summary">
                          오븐에서 방금 꺼낸 빵이 가장 맛있다는 것을 알기에, 뚜레쥬르는 지금도
                          <br>
                          더욱 따뜻하고 촉촉한 갓 구운 빵을 제공하기 위해 끊임없이 노력합니다.
                          <br>
                          매장에서 직접 굽는 것에 그치지 않고, 언제라도 따끈한 빵을 만날 수 있게
                          <br>
                          더욱 자주 굽고, 고객들이 필요한 시간에 맞춰 굽는 등
                          <br>
                          세심하고 배려가 담긴 서비스도 준비하고 있습니다.
                          <br>
                          갓 구워낸 빵은 고소한 향기와 따스한 온기로 매장을 가득 채우고,
                          <br>
                          고객들에게는 가장 맛있는 빵을 맛보는 행복을 선물합니다.
                        </p>
                      </div>
                    </div>
                    <div class="thumb-img">
                      <img src="/images/img_brandstory_02.jpg" alt="">
                    </div>
                  </div>
                </li>
                <li class="nht-3">
                  <div class="nht-3-inner">
                    <div class="thumb-img">
                      <img src="/images/img_brandstory_03.jpg" alt="">
                    </div>
                    <div class="item-info-3">
                      <div class="item-info-tit">
                        <p class="tit">좋은 밀가루를 만드는 회사의<br>
                        <strong>베이커리 브랜드</strong>
                        </p>
                      </div>
                      <div class="item-info-summary">
                        <p class="summary">
                          좋은 밀가루도 좋은 빵의 맛을 내는 중요한 요소입니다.
                          <br>
                          뚜레쥬르는 CJ제일제당의 깐깐한 60년 제분 기술 노하우가
                          <br>
                          축적된 밀가루로 빵을 만드는 베이커리 입니다.
                          <br>
                          뚜레쥬르와 CJ제일제당은 오랜 노력 끝에 베이커리 전용 맞춤
                          <br>
                          밀가루, ‘온리원(OnlyOne)’을 개발하여, 개성있는 최적의 빵
                          <br>
                          맛을 구현하고자 하였습니다.
                          <br>
                          식빵은 더욱 부드럽고 촉촉하게, 페이스트리 류는 더욱 가볍고
                          <br>
                          바삭하게…
                          <br>
                          뚜레쥬르의 다양한 맞춤 밀가루는 빵마다의 개성 있는 식감을
                          <br>
                          살려주고 장시간 동안 그 부드러움이 유지되며, 더 깊은 빵의
                          <br>
                          풍미를 즐길 수 있도록 합니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nht-4">
                  <div class="nht-4-inner"> 
                    <div class="item-info-4">
                     <div class="item-info-tit">
                        <p class="tit">
                          선별된 좋은 재료를 사용하여<br>
                          <strong>더욱 건강한 제품</strong>을 제공하고자 합니다.
                        </p>
                      </div>
                      <div class="item-info-summary">
                        <p class="summary">
                          소중한 가족과 이웃에게 드리는 빵이기에,
                          <br>
                          뚜레쥬르의 빵과 케이크는 들어가는 모든 재료를 하나 하나 꼼꼼히 선별해서 사용합니다.
                          <br>
                          빵에 들어가는 소량의 소금도 미네랄이 많은 신안의 고급 천일염을 사용하는 고집부터,
                          <br>
                          빵에 가장 많이 쓰이는 우유와 치즈를 유기농 우유, 자연치즈로 바꿔보기도 하고,
                          <br>
                          각 지역의 싱싱한 제철 식재와 과일 등 자연의 기운을 담은 순수한 재료를 사용하는 등.
                          <br>
                          항상 좋은 재료가 기본이 되는 건강하고 정직한 빵과 케이크를 만들고자 노력 합니다.
                          <br>
                          <div class="container2_btnn">
                            <a href="javascript:void(0)" class="btnn btn--green">뚜레쥬르 재료 이야기</a>
                          </div>
                        </p>
                      </div>  
                    </div>
                    <div class="thumb-img">
                      <img src="/images/img_brandstory_04.jpg" alt="">
                    </div> 
                  </div>
                </li>
                <li class="nht-5">
                  <div class="nht-5-inner">  
                    <div class="thumb-img">
                      <img src="/images/img_brandstory_05.jpg" alt="">
                    </div>
                    <div class="item-info-5">
                      <div class="item-info-tit">
                        <p class="tit">
                          본질을 지키는 것은 기본,<br>
                          더 나아가 <strong>혁신적인 변화로 업계를 선도</strong>합니다.
                        </p>
                      </div>
                      <div class="item-info-summary">
                        <p class="summary">
                          매일매일, 하루 3번 매장에서 직접 빵을 굽는 일.
                          <br>
                          다른 베이커리에서 쉽게 도전하지 못했던 혁신적인 시도로
                          <br>
                          베이커리 시장에 첫 발을 내딛은 뚜레쥬르.
                          <br>
                          그 동안 뚜레쥬르는 혁신적인 운영방식 뿐 아니라
                          <br>
                          베이커리 전용 맞춤 밀가루를 개발하는 등
                          <br>
                          최고의 맛을 향한 열정과 베이커리 시장선도의 사명을 가지고 진화해왔습니다.
                          <br>
                          앞으로도 뚜레쥬르는 고객과 감동시키는 새롭고 혁신적인 변화를 위해
                          <br>
                          끊임없이 노력하겠습니다.
                        </p>
                      </div>  
                    </div>
                  </div>  
                </li>
                <li class="nht-6">
                  <div class="nht-6-inner">
                    <div class="item-info-6">
                      <div class="item-info-summary">
                        <p class="summary">
                          &quot;<br>
                          좋은 재료로 만들어 건강하고,
                          <br>
                          매장에서 갓 구워 신선한 빵과 케이크를
                          <br>
                          만날 수 있는 곳.
                          <br>
                          여기는 신선함이 가득한 베이커리,
                          <br>
                          뚜레쥬르입니다.
                          <br>
                          &quot;
                        </p>
                      </div>
                    </div>
                    <div class="thumb-img">
                        <img src="/images/img_brandstory_tlj.jpg" alt="">
                      </div>
                    </div>

                  </div>
                </li>
            </ul>
        </div>
    </div>
  </section>
</body>
</html>