<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starbucks Coffee Korea</title>

    <link rel="icon" href="./favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../../styles/brandstory/material7.css" />

    <script defer src="../../js/main.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img src="./images/starbucks_logo.png" alt="STARBUCKS" />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a href="/signin">매장안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">고객센터</a>
            </li>
            <li>
              <a href="javascript:void(0)">기사 채용안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">log in</a>
            </li>
          </ul>
          <div class="search">
            <input type="text" />
            <div class="material-icons">search</div>
          </div>
        </div>

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">브랜드 스토리</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">제품 안내</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">이벤트 & 멤버십</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">뚜레쥬르 앱 & 온라인 쇼핑몰</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <!-- Section -->
    <section class="story">
      <div class="inner">
        <div class="dropdown_open"></div>

        <div class="story_top">
          <ul class="top_menu">
            <li>
              <a href="javascript:void(0)">HOME</a>
            </li>
            <li>
              <a href="javascript:void(0)">브랜드 스토리</a>
            </li>
            <li>
              <a href="javascript:void(0)">재료이야기</a>
            </li>
            <li>
              <a href="javascript:void(0)">땅콩호박</a>
            </li>
          </ul>
        </div>
        <div class="content">
          <div class="content-bg_1">
            <div class="content-bg_1_title">
              <img
                src="/images/material/material7/tit_ingredient1.png"
                alt=""
              />
              <img
                src="/images/material/material7/txt_ingredient_top.png"
                alt=""
              />
            </div>
          </div>
          <div class="content-bg_1_2">
            <div class="content-bg_1_2_inner">
              <img
                src="/images/material/material7/txt_ingredient01_1.png"
                alt=""
              />
              <div class="desc">
                땅콩을 닮은 듯한 모양 덕분에 땅콩호박이라는 애칭으로 불리우는
                땅콩호박은<br />
                일반호박보다 더욱 달콤하고 촉촉한 맛으로 이미 미국과
                유럽등에서는 두루 사용되는 인기 있는 건강 식재료 입니다.<br />
                <br />
                단호박에 비해 칼로리가 낮고 (땅콩호박 100g당 45Kcal / 단호박
                100g당 65Kcal)<br />
                비타민A와 섬유질이 풍부하며, 베타카로틴, 비타민, 단백질이 가득해
                더욱 건강합니다.<br />
                <br />
                이렇게 새롭고 건강한 에너지를 뚜레쥬르 빵과 케이크로 만나보세요
              </div>
            </div>
          </div>
          <div class="content-bg_2"></div>
          <div class="content-bg_2_2">
            <div class="content-bg_2_2_inner">
              <img
                src="/images/material/material7/txt_ingredient02_1.png"
                alt=""
              />
              <div class="desc">
                뚜레쥬르의 땅콩호박은 최고 청정지역 봉화에서 왔습니다<br />
                경상북도 봉화는 소백산맥과 태백산맥의 교차점에 위치한 지형
                특성의 영향으로 산맥이 황사를 막아주어 공기가 깨끗하며,<br />
                강수량이 적어 건강한 식재료를 길러내기에 최적화된 청정지역
                입니다.<br />
                <br />
                "그곳에 위치한 약 6만㎡규모의 <해오름 농장>은<br />
                특급호텔 셰프 출신 최종섭님께서 다양한 식재를 한국인의 밥상에
                올리고자 만든 희귀식재 전문 농장 입니다."<br />
                농작물 별 특별한 맞춤관리 시스템이 있어 이곳에서 생산되는 모든
                농작물은 영양과 선도가 뛰어나 더욱 건강합니다.<br />
                <br />
                올 가을 청정봉화에서 깐깐하게 길러낸 땅콩호박을 뚜레쥬르
                순땅콩호박 시리즈로 만나보세요.
              </div>
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="content-bg_4"></div>
          <div class="content-bg_4_2">
            <div class="content-bg_4_2_inner">
              <img
                src="/images/material/material7/txt_ingredient_p_info.png"
                alt=""
              />
              <div class="image_container">
                <div class="container1">
                  <img
                    src="/images/material/material7/img_slide01.png"
                    alt=""
                  />
                  <span>빵속에 순땅콩호박</span>
                  <div class="desc">
                    물한방울 사용하지 않고 땅콩호박만을<br />
                    넣어 만든 빵에 달콤한 호박크림치즈가<br />
                    듬뿍 들어간 제품
                  </div>
                </div>
                <div class="container2">
                  <img
                    src="/images/material/material7/img_slide02.png"
                    alt=""
                  />
                  <span>땅콩호박이 들어간 호박고구마케이크</span>
                  <div class="desc">
                    달콤한 땅콩호박과 부드러운<br />
                    고구마가 어우러진<br />
                    땅콩호박케이크
                  </div>
                </div>
                <div class="container3">
                  <img
                    src="/images/material/material7/img_slide03.png"
                    alt=""
                  />
                  <span>순땅콩호박비스킷브레드</span>
                  <div class="desc">
                    부드러운 호박크림이 들어간<br />
                    빵에 바삭한 호박비스켓을<br />
                    올린 제품
                  </div>
                </div>
              </div>
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
