<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starbucks Coffee Korea</title>

    <link rel="icon" href="./favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../../styles/brandstory/material6.css" />

    <script defer src="../../js/main.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img src="./images/starbucks_logo.png" alt="STARBUCKS" />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a href="/signin">매장안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">고객센터</a>
            </li>
            <li>
              <a href="javascript:void(0)">기사 채용안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">log in</a>
            </li>
          </ul>
          <div class="search">
            <input type="text" />
            <div class="material-icons">search</div>
          </div>
        </div>

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">브랜드 스토리</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">제품 안내</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">이벤트 & 멤버십</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">뚜레쥬르 앱 & 온라인 쇼핑몰</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <!-- Section -->
    <section class="story">
      <div class="inner">
        <div class="dropdown_open"></div>

        <div class="story_top">
          <ul class="top_menu">
            <li>
              <a href="javascript:void(0)">HOME</a>
            </li>
            <li>
              <a href="javascript:void(0)">브랜드 스토리</a>
            </li>
            <li>
              <a href="javascript:void(0)">재료이야기</a>
            </li>
            <li>
              <a href="javascript:void(0)">순감자</a>
            </li>
          </ul>
        </div>
        <div class="content">
          <div class="content-bg_1">
            <div class="content-bg_1_title">
              <img
                src="/images/material/material6/tit_ingredient1.png"
                alt=""
              />
              <img
                src="/images/material/material6/txt_ingredient_top.png"
                alt=""
              />
            </div>
          </div>
          <div class="content-bg_1_2">
            <div class="content-bg_1_2_inner">
              <img
                src="/images/material/material6/txt_ingredient01_1.png"
                alt=""
              />
              <div class="desc">
                뚜레쥬르가 올 봄에는 자연의 에너지를 전해 드리기 위해<br />
                건강한 국내산 재료인 “해남산 감자”를 주재료로 하여 건강한 빵과
                케이크를 선보입니다.<br />
                <br />
                봄이 조금 일찍 찾아 든다는 남쪽마을 해남,<br />
                싱그러운 햇살과 힘찬 해풍이 더해진 비옥한 황토땅 그 땅의 힘찬
                생명력이 길러내<br />
                더욱 단단하고 맛 좋은 해남감자를 “뚜레쥬르 순감자 시리즈”로
                만나보세요
              </div>
            </div>
          </div>
          <div class="content-bg_2"></div>
          <div class="content-bg_2_2">
            <div class="content-bg_2_2_inner">
              <img
                src="/images/material/material6/txt_ingredient02_1.png"
                alt=""
              />
              <div class="desc">
                감자는 탄수화물, 단백질은 물론 한 개에 모든 영양소가 들어있는
                영양의 보고이며,<br />
                특히 비타민 C가 사과의 5배 이상이 많아 “땅속에서 나는 사과”라고
                불립니다.<br />
                <br />
                다른 음식과 달리 조리해도 비타민 C가 파괴되지 않아 중요한
                비타민의 공급원이 되어 줍니다.<br />
                또한 알칼리성으로 산성인 우리 몸을 중화시켜주며, 나트륨 배출
                등의 효과가 있습니다.<br />
              </div>
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="content-bg_4"></div>
          <div class="content-bg_4_2">
            <div class="content-bg_4_2_inner">
              <img
                src="/images/material/material6/txt_ingredient_p_info.png"
                alt=""
              />
              <div class="image_container">
                <div class="container1">
                  <img
                    src="/images/material/material6/img_slide01.png"
                    alt=""
                  />
                  <span>빵속에 순감자</span>
                  <div class="desc">
                    감자를 똑 닮은 빵 속에 담백한<br />
                    감자 내용물을 듬뿍 넣은 제품<br />
                    (감자함량 35%)
                  </div>
                </div>
                <div class="container2">
                  <img
                    src="/images/material/material6/img_slide02.png"
                    alt=""
                  />
                  <span>포실포실 순감자 케이크</span>
                  <div class="desc">
                    포실포실한 국내산 해남감자로 만든<br />
                    고소한 감자무스와 부드러운 쌀시트가<br />
                    어우러진 순감자 케이크
                  </div>
                </div>
                <div class="container3">
                  <img
                    src="/images/material/material6/img_slide03.png"
                    alt=""
                  />
                  <span>순감자 포카치아</span>
                  <div class="desc">
                    담백한 포카치아 속 땅끝해남의<br />
                    건강한 감자와 햄을 넣은 제품<br />
                    (감자함량 42%)
                  </div>
                </div>
              </div>
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
