<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starbucks Coffee Korea</title>

    <link rel="icon" href="./favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../../styles/brandstory/material3.css" />

    <script defer src="../../js/main.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img src="./images/starbucks_logo.png" alt="STARBUCKS" />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a href="/signin">매장안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">고객센터</a>
            </li>
            <li>
              <a href="javascript:void(0)">기사 채용안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">log in</a>
            </li>
          </ul>
          <div class="search">
            <input type="text" />
            <div class="material-icons">search</div>
          </div>
        </div>

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">브랜드 스토리</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">제품 안내</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">이벤트 & 멤버십</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">뚜레쥬르 앱 & 온라인 쇼핑몰</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <!-- Section -->
    <section class="story">
      <div class="inner">
        <div class="dropdown_open"></div>

        <div class="story_top">
          <ul class="top_menu">
            <li>
              <a href="javascript:void(0)">HOME</a>
            </li>
            <li>
              <a href="javascript:void(0)">브랜드 스토리</a>
            </li>
            <li>
              <a href="javascript:void(0)">재료이야기</a>
            </li>
            <li>
              <a href="javascript:void(0)">순우유</a>
            </li>
          </ul>
        </div>
        <div class="content">
          <div class="content-bg_1">
            <div class="content-bg_1_title">
              <img
                src="/images/material/material3/tit_ingredient1.png"
                alt=""
              />
              <img
                src="/images/material/material3/txt_ingredient_top.png"
                alt=""
              />
            </div>
          </div>
          <div class="content-bg_1_2">
            <div class="content-bg_1_2_inner">
              <img
                src="/images/material/material3/txt_ingredient01_1.png"
                alt=""
              />
              <div class="desc">
                뚜레쥬르는 밀가루, 소금등 빵의 가장 기본이 되는 재료뿐만 아니라
                모든 재료를 본질에<br />
                충실한 순수한 것들로 바꾸어 나가는 노력을 지속합니다<br />
                <br />
                빵에서 밀가루, 물 다음으로 많이 들어가는 재료, 우유 그것을
                깨끗하고 영양 가득 한 가장 우유다운 우유로 바꾸기 위해<br />
                청정 전북 완주의 단일목장에서 집유한 유기농 우유를 순우유
                시리즈의 재료로 선택하였습니다
              </div>
            </div>
          </div>
          <div class="content-bg_2"></div>
          <div class="content-bg_2_2">
            <div class="content-bg_2_2_inner">
              <img
                src="/images/material/material3/txt_ingredient02_1.png"
                alt=""
              />
              <div class="desc">
                전라북도 완주군 이서면 대광목장은 유기농 사료와 목초로만 키운
                젖소에서 원유를 생산하는 유기농 인증을 받은 목장입니다<br />
                이 목장의 101마리의 건강한 젖소는 화학성분이 첨가되지 않은
                사료나 목초만을 먹고 자라 깨끗하고 건강한 유기농 우유를
                생산합니다
              </div>
              <img
                src="/images/material/material3/txt_ingredient02_2.png"
                alt=""
              />
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="content-bg_3">
            <div class="content-bg_3_inner">
              <div class="content-bg_3_youtube">
                <iframe
                  width="846"
                  height="476"
                  src="https://www.youtube.com/embed/O_aBibUT3uE"
                  title="김수현 뚜레쥬르 &#39;빵속에 순우유(순우유빵)&#39;광고 동영상_30초"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
              <div class="content-bg_3_desc">
                <div class="content-bg_3_desc_tit">
                  <img
                    src="/images/material/material3/txt_ingredient_movie.png"
                    alt=""
                  />
                </div>
                <div class="content-bg_3_textbox"></div>
              </div>
            </div>
          </div>
          <div class="content-bg_4"></div>
          <div class="content-bg_4_2">
            <div class="content-bg_4_2_inner">
              <img
                src="/images/material/material3/txt_ingredient_p_info.png"
                alt=""
              />
              <div class="image_container">
                <div class="container1">
                  <img
                    src="/images/material/material3/img_slide02.png"
                    alt=""
                  />
                  <span>케이크속에 순우유</span>
                  <div class="desc">
                    청정 유기농우유를 넣은 우유무스와<br />
                    크림치즈무스가 어우러진<br />
                    순수하고 담백한 우유무스
                  </div>
                  <div class="container2_btnn">
                    <a href="javascript:void(0)" class="btnn btn--green"
                      >자세히 보기</a
                    >
                  </div>
                </div>
                <div class="container2">
                  <img
                    src="/images/material/material3/img_slide03.png"
                    alt=""
                  />
                  <span>순수한 맛 순우유 식빵</span>
                  <div class="desc">
                    보들보들한 빵결 속<br />
                    친환경 유기농 우유의 영양이 가득 담긴<br />
                    순우유 식빵 (우유함량 10.2%)
                  </div>
                  <div class="container2_btnn">
                    <a href="javascript:void(0)" class="btnn btn--green"
                      >자세히 보기</a
                    >
                  </div>
                </div>
              </div>
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
