<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starbucks Coffee Korea</title>

    <link rel="icon" href="./favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../../styles/brandstory/material5.css" />

    <script defer src="../../js/main.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img src="./images/starbucks_logo.png" alt="STARBUCKS" />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a href="/signin">매장안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">고객센터</a>
            </li>
            <li>
              <a href="javascript:void(0)">기사 채용안내</a>
            </li>
            <li>
              <a href="javascript:void(0)">log in</a>
            </li>
          </ul>
          <div class="search">
            <input type="text" />
            <div class="material-icons">search</div>
          </div>
        </div>

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">브랜드 스토리</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">제품 안내</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">이벤트 & 멤버십</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">뚜레쥬르 앱 & 온라인 쇼핑몰</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>브랜드 스토리</li>
                      <li>뚜레쥬르 재료 이야기</li>
                      <li>글로벌 뚜레쥬르</li>
                      <li>뚜레쥬르 라뜰리에</li>
                      <li>뚜레쥬르 착한빵</li>
                      <li>뉴스 & 공지사항</li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li>신제품</li>
                      <li>빵</li>
                      <li>케이크</li>
                      <li>델리</li>
                      <li>선물</li>
                      <li>디저트&스낵</li>
                      <li>음료</li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>진행중인 이벤트</li>
                      <li>이벤트 담당자</li>
                      <li>CJ ONE 멤버십</li>
                      <li>제휴 혜택</li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li>뚜레쥬르 앱</li>
                      <li>홈페이지 전용 예약 배송</li>
                      <li>꽃 & 케이크 택배 배송</li>
                      <li>대량 구매 문의</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <!-- Section -->
    <section class="story">
      <div class="inner">
        <div class="dropdown_open"></div>

        <div class="story_top">
          <ul class="top_menu">
            <li>
              <a href="javascript:void(0)">HOME</a>
            </li>
            <li>
              <a href="javascript:void(0)">브랜드 스토리</a>
            </li>
            <li>
              <a href="javascript:void(0)">재료이야기</a>
            </li>
            <li>
              <a href="javascript:void(0)">순꿀</a>
            </li>
          </ul>
        </div>
        <div class="content">
          <div class="content-bg_1">
            <div class="content-bg_1_title">
              <img
                src="/images/material/material5/tit_ingredient1.png"
                alt=""
              />
              <img
                src="/images/material/material5/txt_ingredient_top.png"
                alt=""
              />
            </div>
          </div>
          <div class="content-bg_1_2">
            <div class="content-bg_1_2_inner">
              <img
                src="/images/material/material5/txt_ingredient01_1.png"
                alt=""
              />
              <div class="desc">
                빵이 주는 첫번째 행복은 달콤함, 뚜레쥬르는 그 달콤함도 건강을
                생각한 재료로 채웠습니다<br />
                강원의 건강한 꿀벌이 8,000송이 아카시아 꽃을 찾아 40km를 날아
                모은 귀한 1g의 꿀<br />
                그것을 소화시켜 해로움을 뺀 단맛, 건강한 강원의 자연이 선물한
                햇꿀의 달콤함으로<br />
                더욱 풍성해진 뚜레쥬르의 가을을 만나보세요
              </div>
            </div>
          </div>
          <div class="content-bg_2"></div>
          <div class="content-bg_2_2">
            <div class="content-bg_2_2_inner">
              <img
                src="/images/material/material5/txt_ingredient02_1.png"
                alt=""
              />
              <div class="desc">
                로마인은 꿀을 하늘에서 내리는 이슬로 여겼으며<br />
                우리나라에서도 오랜 옛날부터 벌꿀을 채집하여 귀한 약품 및
                식품으로 사용해 왔습니다<br />
                벌꿀은 단당류로 인체에 바로 흡수 되어 피로회복은 물론, 철분,
                나이아신, 칼륨 등의 성분이 들어있어<br />
                체내 에너지 생성에 필요한 전해질 균형에 도움을 줍니다
              </div>
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="content-bg_4"></div>
          <div class="content-bg_4_2">
            <div class="content-bg_4_2_inner">
              <img
                src="/images/material/material5/txt_ingredient_p_info.png"
                alt=""
              />
              <div class="image_container">
                <div class="container1">
                  <img
                    src="/images/material/material5/img_slide01.png"
                    alt=""
                  />
                  <span>빵속에 순꿀</span>
                  <div class="desc">
                    벌집모양의 부드러운 브리오쉬 빵에<br />
                    촉촉한 꿀을 넣은 제품
                  </div>
                </div>
                <div class="container2">
                  <img
                    src="/images/material/material5/img_slide02.png"
                    alt=""
                  />
                  <span>순꿀 치즈케이크</span>
                  <div class="desc">
                    촉촉하고 부드러운 수플레 타입의<br />
                    치즈케이크 사이에 달콤한 꿀 젤리가 씹히는<br />
                    순꿀치즈케이크
                  </div>
                </div>
                <div class="container3">
                  <img
                    src="/images/material/material5/img_slide03.png"
                    alt=""
                  />
                  <span>순꿀 바게트</span>
                  <div class="desc">
                    꿀이 들어가 겉은 바삭 속은 더 쫄깃한<br />
                    바게트에 아카시아 꿀을 발라<br />
                    더욱 맛있게 즐길 수 있는 제품
                  </div>
                </div>
              </div>
              <!-- <div class="desc2">
                <ul>
                  <li>
                    <img src="/images/img_ingredient02_2_1.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_2.png" alt="">
                  </li>
                  <li>
                    <img src="/images/img_ingredient02_2_3.png" alt="">
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
